In [4]:
# Task 1: How many rows and columns are there in your file?

import pandas as pd

LocationData = pd.read_csv("TTAWk4.csv")

LocationData.shape

(15, 5)

In [6]:
# Task 2: Print row 3-8 ( using iloc/loc).

LocationData.iloc[3:8]

,Destinations,Feedback_Score,Avg_hotel_rating,No_of_all_inclusives,Most_visited_city
3,India,7,2.1,862,Mumbai
4,France,6,3.8,356,Paris
5,Sri Lanka,8,2.9,172,Kandy
6,USA,5,3.4,1452,New York
7,Germany,7,3.6,389,Berlin

In [9]:
# Task 3: Find the mean number of all-inclusive hotels across all destinations.

LocationData["No_of_all_inclusives"].mean()

489.1333333333333

In [24]:
# Task 4: Find the lowest scoring destination.


LowestScorer = LocationData.sort_values(by = ['Feedback_Score'], ascending = True)

print(LowestScorer.head(5))

   Destinations  Feedback_Score  Avg_hotel_rating  No_of_all_inclusives  \
12     Thailand               3               2.5                  1001
11       Norway               4               3.8                   252
6           USA               5               3.4                  1452
14       Poland               5               2.1                   109
4        France               6               3.8                   356

   Most_visited_city
12           Bangkok
11              Oslo
6           New York
14            Warsaw
4              Paris

In [29]:
# Task 5: Find the highest scoring destination.

HighestScorer = LocationData.sort_values(by = ['Feedback_Score'], ascending = False)

print(HighestScorer.head(5))

   Destinations  Feedback_Score  Avg_hotel_rating  No_of_all_inclusives  \
2   New Zealand               9               3.6                   176
1     Australia               8               3.4                   315
5     Sri Lanka               8               2.9                   172
8        Brazil               8               3.0                   689
10       Sweden               8               3.4                   276

   Most_visited_city
2           Auckland
1              Sydne
5              Kandy
8                Rio
10         Stockholm

In [33]:
# Task 6: Find all the destinations where there are more than 500 all-inclusive hotels.

LocationData[(LocationData.No_of_all_inclusives >500)]

,Destinations,Feedback_Score,Avg_hotel_rating,No_of_all_inclusives,Most_visited_city
3,India,7,2.1,862,Mumbai
6,USA,5,3.4,1452,New York
8,Brazil,8,3.0,689,Rio
9,Russia,6,2.6,503,Moscow
12,Thailand,3,2.5,1001,Bangkok

In [36]:
#Task 7: Filter the data by score above.

LocationData[(LocationData.No_of_all_inclusives > 500) & (LocationData.Feedback_Score > 5)]

,Destinations,Feedback_Score,Avg_hotel_rating,No_of_all_inclusives,Most_visited_city
3,India,7,2.1,862,Mumbai
8,Brazil,8,3.0,689,Rio
9,Russia,6,2.6,503,Moscow

In [39]:
#Task 8: Filter the data score below 5 ( I need to know if these destinations should be removed or there is a problem)

LocationData[(LocationData.No_of_all_inclusives > 500) & (LocationData.Feedback_Score < 5)]

,Destinations,Feedback_Score,Avg_hotel_rating,No_of_all_inclusives,Most_visited_city
12,Thailand,3,2.5,1001,Bangkok

In [46]:
# Extension Task 1: Is there a correlation between number of all-inclusive hotels and score?

MeanAbove500 = LocationData[(LocationData.No_of_all_inclusives > 500)].mean()

MeanBelow500 = LocationData[(LocationData.No_of_all_inclusives < 500)].mean()

print(MeanAbove500)
print(MeanBelow500)

# According to the printed data there is a negative correlation between the number of all-inclusive hotels and the feedback score.

Feedback_Score            5.80
Avg_hotel_rating          2.72
No_of_all_inclusives    901.40
dtype: float64
Feedback_Score            7.00
Avg_hotel_rating          3.31
No_of_all_inclusives    283.00
dtype: float64

C:\Users\a-cle\AppData\Local\Temp/ipykernel_17564/3613363012.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  MeanAbove500 = LocationData[(LocationData.No_of_all_inclusives > 500)].mean()
C:\Users\a-cle\AppData\Local\Temp/ipykernel_17564/3613363012.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  MeanBelow500 = LocationData[(LocationData.No_of_all_inclusives < 500)].mean()

In [1]:
# Extension Task 2: Create a data visualisation diagram to show destination and highest scores.

import altair as alt

ModuleNotFoundError: No module named 'altair'